apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: bot-detection-kafka
  namespace: bot-detection
spec:
  kafka:
    version: 3.6.0
    replicas: 1
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi
    storage:
      type: ephemeral
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
    config:
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
      default.replication.factor: 1
      min.insync.replicas: 1
      inter.broker.protocol.version: "3.6"
  zookeeper:
    replicas: 1
    storage:
      type: ephemeral
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 512Mi
  entityOperator:
    topicOperator: {}
    userOperator: {}
